*~
*._*
.DS_Store
/dataset/
/papers/

/__pycache__/

human_perception_experiments/artifacts
human_perception_experiments/sample_experiment_*
human_perception_experiments/*.zip
human_perception_experiments/*.mat

ASVspoof_2019_baseline_CM_v1/bonafideFeatureCell.mat
ASVspoof_2019_baseline_CM_v1/spoofFeatureCell.mat